.main_page {
    width: 100%;
    height: 2200px; /* 전체 높이를 2000px로 설정 */
    background-color: #e8fffc;
    margin: 0 auto;
    background: linear-gradient(rgba(147, 197, 255, 0.1), rgba(124, 124, 124, 0.5)), url("../../public/img/highway.png") no-repeat;
    background-size: contain;
    background-position: center top;
    position: relative;
    overflow: hidden;
    animation: expand 1s ease-out forwards;
    transform-origin: center;
}

@keyframes expand {
    0% {
        width: 0;
        height: 1000px;
        opacity: 0;
    }
    50% {
        width: 100%;
        height: 1900px;
        opacity: 1;
    }
    100% {
        width: 100%;
        height: 2200px;
        opacity: 1;
    }
}


/* 모던하고 시크한 드롭다운 스타일 */
.select_container {
    position: relative;
    width: 700px;
    margin: 0 auto;
    text-align: center;
}

.select_container select {
    width: 100%;
    padding: 15px 20px;
    font-size: 20px;
    border: 2px solid #fff;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.6); /* 어두운 배경 */
    color: white;
    outline: none;
    appearance: none;
    cursor: pointer;
    transition: border-color 0.3s ease, background 0.3s ease;
}
.select_container select:hover {
    border-color: #4CAF50; /* 선택 박스를 호버할 때 테두리 색상 변경 */
    background: rgba(255, 255, 255, 0.2); /* 배경색 변경 */
}

.select_container:before {
    content: '';
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    border: 6px solid transparent;
    border-top-color: white; /* 화살표 색상 */
    pointer-events: none;
}
.select_container option {
    background-color: #222; /* 옵션 배경 어둡게 */
    color: white;
    font-size: 18px;
}


.select_container select {
    border: none;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.select_container select:hover {
    border: 1px solid #4CAF50; /* 선택 박스를 호버할 때 테두리 색상 변경 */
    background: rgba(0, 0, 0, 0.8); /* 배경색 변경 */
}

.select_container select:focus {
    border: 1px solid #4CAF50; /* 선택 박스를 포커스할 때 테두리 색상 변경 */
    background: rgba(0, 0, 0, 0.9); /* 배경색 변경 */
    box-shadow: 0 0 5px rgba(0, 255, 0, 0.5); /* 포커스 시 박스 그림자 효과 추가 */
}

.select_container option {
    background-color: #333; /* 옵션 배경 어둡게 */
    color: white;
    padding: 10px;
}

/* 전체 스크롤바 스타일링 */
::-webkit-scrollbar {
    width: 10px; /* 스크롤바 너비 */
    height: 10px; /* 수평 스크롤바 높이 */
}

/* 스크롤바 트랙 (배경) */
::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1); /* 트랙 배경 색상 */
    border-radius: 10px; /* 둥근 모서리 */
}

/* 스크롤바 핸들 */
::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.4); /* 핸들 색상 */
    border-radius: 10px; /* 둥근 모서리 */
    border: 2px solid transparent; /* 핸들 내부에 여백 추가 */
    background-clip: padding-box; /* 배경 클립 */
}

/* 스크롤바 핸들 호버 시 */
::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.6); /* 핸들 색상 변경 */
}

/* 스크롤바 핸들 활성화 시 */
::-webkit-scrollbar-thumb:active {
    background: rgba(0, 0, 0, 0.8); /* 핸들 색상 변경 */
}


.form {
    border: none;
    margin: 0 auto;
    padding-top: 400px;
}

.main_page ul {
    list-style-type: none;
    text-align: center;
}

.label {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

.mainButton {
    margin: 0 auto;
    width: 300px;
}

.typing-char {
    display: inline-block;
    opacity: 0;
    animation: typingEffect 0.5s forwards;
}

@keyframes typingEffect {
    from {
        opacity: 0;
        transform: translateX(-10px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.chat {
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 60px;
    height: 60px;
    background-color: #2d7dec;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: white;
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
    width: 100px;
    height: 100px;
    background-image: url("https://images.emojiterra.com/google/noto-emoji/unicode-15/animated/1f47d.gif");
    background-size: cover;
    background-position: center;
}

.white_background {
    position: absolute;
    top: 1200px; /* 하얀 배경 시작 위치를 1000px로 설정 */
    width: 100%;
    height: 2000px;
    background-color: white;
}

.outer {
    flex-direction: column;
    display: flex;
    /*justify-content: space-between;*/
    width: 100%;
}

.outer::before,
.outer::after {
    content: '';
    flex: 0 10 30%; /* 좌우에 20%의 공백을 설정 */
}

.chart_container, .chart_container2, .chart_container3 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px; /* 페이지 하단에서 약간의 여백을 추가 */

}

.chart, .sub_box,.chart2, .sub_box2 {
    flex: 0 0 30%; /* 45% 너비로 설정*/
    margin: 200px 0 0 100px; /* 두 요소 사이에 약간의 간격을 추가 */
}
.animate {
    animation: expandFromCenter 1s ease-in-out forwards;
}

.chart {
    border: 1px solid black;
    background-color: white;
    position: relative;
    padding: 10px 17px;
    display: block;
    transition: all 0.3s ease-in-out; /* 전체 속성 변화에 대한 transition 설정 */
    height: 400px;
    width: 500px;
    border-radius: 10px;
}
.chart2 {
    border: 1px solid black;
    background-color: white;
    position: relative;
    padding: 10px 17px;
    display: block;
    transition: all 0.3s ease-in-out; /* 전체 속성 변화에 대한 transition 설정 */
    height: 400px;
    width: 500px;
    border-radius: 10px;
}
.arrow_down {
    position: absolute;
    bottom: 1300px;
    left: 50%;
    z-index: 1;
    transform: translateX(-50%);
    width: 60px;
    height: 60px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: moveDown 3s infinite;
}

.arrow_down::before {
    content: '';
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 30px solid white;
}

@keyframes moveDown {
    0%, 100% {
        transform: translate(-50%, 0);
    }
    50% {
        transform: translate(-50%, 10px);
    }
}

@keyframes expandFromCenter {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}


.sub_box,.sub_box2,.sub_box3 {
    width: 400px;
    height: 420px;
    background-color: #fff;
    padding: 0;
    display: flex; /* Flexbox 적용 */
    align-items: center; /* 수직 중앙 정렬 */
}

.chart_sub,.chart_sub2,.chart_sub3 {
    font-size: 18px;
    font-weight: bold;
}
.chart_sub span, .chart_sub2 span, .chart_sub3 span{
    display: block;
    margin-top: 50px;
    font-weight: bold;
}


@media (max-width: 1300px) {
    .nav {}
}

@media (max-width: 768px) {}

@media (max-width: 480px) {
    .select-container {
        width: 250px;
    }

    .select-container select {
        font-size: 14px;
        padding: 8px 10px;
    }
}

.form li label {
    padding-right: 50px;
}

.modal {
    position: relative;
}
