#change {
    width: 1905px;
    /*background-color: white;*/
    display: grid;
    grid-template-areas: 'a' 'b';
    grid-gap: 0;
    background-color: rgba(255, 254, 254, 0.51);
    /*grid-template-rows: 1600px;*/
    z-index: 0;
}
.backgroundVideo {
    position: absolute;

    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* 비디오를 요소 크기에 맞게 조정 */
    z-index: -1; /* 비디오를 콘텐츠 뒤에 배치 */
}
.mapinfo {
    grid-area: b;

}

#searchOilCharge {
    z-index: 999;
    grid-area: a;
}

.section {
    width: 60%; /* Full width for the section */
    height: 60vh;
    margin-left: 25%;
    position: relative;
    z-index: 1;
    border-radius: 180px;
    background: radial-gradient(circle at 100px 50px, rgba(255, 255, 255, 0.75) 100%, transparent 70%);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* Optional: slight shadow for depth */
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.2));
}

.mapinfo {
    grid-area: b;
}

.gasStation, .elecStation, .mapInfo {
    backdrop-filter: blur(10px); /* Apply a blur effect to the background */
}

.aside_button {
    position: absolute;
    display: inline-block;
    cursor: pointer;
    padding: 10px;
    transition: transform 0.2s ease-in-out;
    top: 25%;
    left: 1%;
    z-index: 3;
}

.aside_button:hover {
    transform: scale(1.05);
}
#clicked_image{
    width: 50px;
    height: 50px;
    animation: float 6s ease-in-out infinite; /* 둥둥 떠다니는 애니메이션 */
}
@keyframes float {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}
@keyframes glow {
    0% {
        box-shadow: 0 0 20px 5px rgba(255, 255, 255, 0.5);
    }
    100% {
        box-shadow: 0 0 30px 10px rgba(255, 255, 255, 0.7);
    }
}
.aside {
    position: fixed; /* Fixed position to overlay on the map */
    /*margin-top: 10%;*/
    width: 475px;
    /*left: 1%;*/
    height: 55%;
    top: 40%;
    padding: 5px;
    background-color: #f4f4f4;
    border-radius: 20px;
    z-index: 2;
    overflow-y: auto;
    box-shadow: inset 0 -3em 3em rgba(109, 199, 255, 0.47), 0 0 0 2px white, 0.3em 0.3em 1em rgba(0, 33, 200, 0.27);
}

@media (max-width: 480px) {
    .aside {
        width: 400px;
    }
}

.aside::-webkit-scrollbar {
    width: 15px;
}

.aside::-webkit-scrollbar-track {
    background: #ffffff;
}

.aside::-webkit-scrollbar-thumb {
    height: 30%;
    background: rgba(109, 211, 255, 0.47);
}

.aside::-webkit-scrollbar-thumb:hover {
    background: rgb(192, 233, 234);
}

.markings {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

.mark {
    color: rgba(93, 89, 89, 0.93);
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: linear-gradient(to right, rgba(109, 199, 255, 0.47), rgb(102, 106, 117));
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #b9e5f3;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
}

.sortButtons {
    display: flex;
    width: 200px;
    margin-bottom: 10px;
}

.sortButtons button {
    background-color: transparent;
    color: #000000;
    border: 2px solid rgba(93, 89, 89, 0.45);
    padding: 5px 10px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    background-color: rgb(255, 254, 254);
}

.sortButtons button:hover {
    background-color: rgb(70, 184, 255);
}

.gasStationList {
    width: 400px;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin-left: 10px;
}

.gasStationList li {
    align-items: center;
    background-color: rgb(255, 254, 254);
    color: #000000;
    padding: 10px;
    box-shadow: 12px 12px 2px 1px rgba(107, 107, 159, 0.28);
    font-size: 13px;
}

.buttonContainer {
    display: flex;
    justify-content: space-around;
    padding: 10px 20px;
    z-index: 3;
}

.button {
    border: none;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    background-color: white;
    color: black;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    outline: none;
}

.buttonActive {
    background-color: rgba(109, 199, 255, 0.47);
    color: white;
}

.button:hover {
    background-color: #436d88;
    color: white;
}

.radioContainer {
    box-sizing: border-box;
    display: flex;
    width: 100%;
    flex-direction: row;
    gap: 15px;
    padding: 20px;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.radioContainer label {
    display: block;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    font-size: 15px;
    user-select: none;
    color: #474545;
}

.radioContainer input[type="radio"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.radioContainer .checkmark {
    position: absolute;
    top: -5px;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
    border: 1px solid #ddd;
}

.radioContainer input:checked ~ .checkmark {
    background-color: #87addf;
}

.radioContainer .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

@media (max-width: 480px) {
    .radioContainer {
        position: absolute;
        padding: 0;
    }
}

.select_bar {
    align-items: center;
    justify-items: center;
    height: 230px;
    background-color: white;
    padding: 20px;
}

.icon_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.icon {
    width: 70px;
    height: 100px;
    display: flex;
    align-items: center;
    margin-left: 65px;
    justify-content: center;
    margin-bottom: 10px;
}

.icon2 {
    width: 70px;
    height: 100px;
    border-radius: 40%;
    display: flex;
    align-items: center;
    margin-left: 115px;
    justify-content: center;
    margin-bottom: 10px;
}

.text {
    color: black;
    margin-bottom: 15px;
    margin-left: 50px;
}

.text2 {
    color: black;
    margin-bottom: 15px;
    margin-left: 76px;
}

/*.button1 {*/
/*    border: none;*/
/*    background-color: #cae9f2;*/
/*    color: white;*/
/*    font-size: 20px;*/
/*    border-radius: 25px;*/
/*    padding: 30px 70px;*/
/*}*/

/*.button2 {*/
/*    border: none;*/
/*    font-size: 20px;*/
/*    background-color: #cae9f2;*/
/*    color: white;*/
/*    border-radius: 25px;*/
/*    padding: 30px 70px;*/
/*}*/

/*.button3 {*/
/*    border: none;*/
/*    font-size: 20px;*/
/*    background-color: #1e1f22;*/
/*    color: white;*/
/*    border-radius: 25px;*/
/*    padding: 30px 70px;*/
/*    margin-right: 20px;*/
/*}*/

@media (max-width: 768px) {
/*    .select_bar {*/
/*        grid-template-columns: 1fr;*/
/*        height: auto;*/
/*        gap: 10px;*/
/*    }*/

/*    .icon_container {*/
/*        flex-direction: row;*/
/*    }*/

/*    .icon_button {*/
/*        padding: 5px 10px;*/
/*    }*/
/*}*/

@media (max-width: 768px) {
    .aside {
        width: 150px;
        padding: 15px;
    }

    .section {
        width: calc(100% - 30px - 150px);
        margin-left: 180px;
        z-index: 1;
    }
}

@media (max-width: 480px) {
    .aside_button {
        z-index: 1000;
    }

    .aside {
        width: 100%;
        height: 400px;
        position: fixed;
        bottom: 0;
        left: 0;
        border-radius: 0;
        padding: 10px;
        z-index: 3;
    }

    .section {
        margin-left: 0;
        width: 100%;
        height: 400px;
        z-index: 1;
    }

    /*.select_bar {*/
    /*    margin-top: 13%;*/
    /*}*/

/*    .icon2 {*/
/*        position: relative;*/
/*        left: 10px;*/
    }
}
