#main {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-areas:
        "restAreaTab restAreaMap";
    grid-template-columns: 27% 73%;
    grid-template-rows: 900px;
    gap: 10px;
    padding: 10px;
    background-color: #ffffff;
}
.modal-image {
    width: 100%;  /* 부모 요소의 너비에 맞게 조정 */
    max-width: 60px;  /* 최대 너비 설정 */
    height: auto;  /* 이미지 비율을 유지하면서 높이를 자동으로 조정 */
    margin-bottom: 10px;  /* 이미지 사이 간격 */
}


@media (max-width: 800px) {
    #main {
        grid-template-areas:
            "restAreaTab"
            "restAreaMap";
        /*grid-template-columns: 1fr;*/
        grid-template-columns: 100%;
        grid-template-rows: auto;
        /*grid-template-rows: 100px 500px;*/
        gap: 0;
        padding: 0;
    }

}

.restAreaTab {
    background: white;
    grid-area: restAreaTab;
    padding: 20px;
    margin-bottom: 10px; /* 모바일에서 여백 추가 */
    overflow-y: auto;
    /*width: 100px;*/
}

.restAreaMap {
    display: block; /* 기본값은 보이도록 설정 */
}


@media (max-width: 480px) {
    .restAreaMap {
        /*display: none; !* 모바일에서 맵 숨김 *!*/
        /*width: 100%;*/
        /*height: 100px;*/
    }
    .restAreaTab{
        background: white;
        grid-area: restAreaTab;
        overflow-y: auto;
        padding: 10px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center; /* 수직 가운데 정렬을 위해 추가 */
        width: 80%;
        height: 200px;
    }
    .restAreaItems{
        height: 100px;
        overflow: hidden;
        overflow-y: scroll;
    }

}


.restAreaItem {
    list-style-type: none;
    padding: 20px;
    margin-right: 45px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
    transition: background-color 0.2s;

}

.restAreaItem:last-child {
    border-bottom: none;
}

.restAreaItem:hover {
    background-color: #e9e9e9;
}

.restAreaTab select {
    display: block;
    padding: 10px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 12px;
    width: 100%;
    max-width: 600px;
    margin-bottom: 10px;
    font-size: 16px;
    cursor: pointer;
    outline: none;
    transition: all 0.3s ease;
}

.restAreaTab select:hover,
.restAreaTab select:focus {
    border-color: #b377d7;
    box-shadow: 0 0 8px rgba(179, 119, 215, 0.6);
}

.restAreaTab select option {
    padding: 10px 15px;
    font-size: 16px;
}

.restAreaTab::-webkit-scrollbar {
    width: 20px;
}

h2, h3 {
    margin: 0;
}

p {
    margin: 5px 0;
}
