/* CSS for JejuMap Component */

/* mainJ2 Styling */
#mainJ2 {
    background-color: white;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* mapSpace Styling */
.mapSpace {
    height: 85%;
    flex: 1;
}

/* map Styling */
.map {
    width: 100%;
    height: 100%;
}

/* categoryButtons Styling */
.categoryButtons {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 5px;
    border-radius: 10px;
    padding: 10px;
}

/* categoryButton Styling */
.categoryButton {
    background-color: rgba(76, 175, 80, 0.7);
    background-size: cover;
    background-position: center;
    border: none;
    color: #ffffff;
    text-align: center;
    width: 100px;
    height: 80px;
    margin-top: 5px;
    text-decoration: none;
    font-size: 16px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s;
}

.categoryButton:hover {
    background-color: #45a049;
}

/* overlayWrapSmall Styling */
.overlayWrapSmall {
    display: block;
    width: 230px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    line-height: 16px;
}

/* overlayImageSmall Styling */
.overlayImageSmall {
    width: 230px;
    height: 130px;
}

/* overlayTitleSmall Styling */
.overlayTitleSmall {
    font-size: 12px;
    margin: 5px 0;
}

/* overlayAddressSmall, overlayPhoneSmall, overlayIntroductionSmall Styling */
.overlayAddressSmall,
.overlayPhoneSmall,
.overlayIntroductionSmall {
    font-size: 10px;
    margin: 2px 0;
}

.overlayIntroductionSmall {
    font-size: 12px;
    margin: 2px 0;
    word-break: break-word;
    overflow-wrap: break-word;
    white-space: normal;
    hyphens: auto;
}
