.main_page{
    /*width: 1200px;*/
    width: 100%;
    height: 680px;
    background-color: #e8fffc;
    margin: 0 auto;
    background: linear-gradient(rgba(147, 197, 255, 0.1), rgba(124, 124, 124, 1)),url("../../public/img/road.jpg");
    background-size: cover;
    background-position: center;
    position: relative;

}


.form{
    /*max-width: 1000px;*/
    border: none;
    margin: 0 auto;
    padding-top: 200px;

}

.main_page ul{
    list-style-type: none;
    text-align: center;
}

.label{
    /*padding-top: 500px;*/
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    /*background-color: #fff;*/


}
#select{
    width: 500px;
    height: 50px;
    font-size: 20px;
    border-radius: 20px;

}
.mainButton{
    margin: 0 auto;
    width: 500px;
    border-radius: 20px;
    margin-left: 70px;
}

.chat {

    position: fixed; /* 위치를 고정시킵니다 */
    right: 20px;     /* 오른쪽 끝에서 20px 떨어진 위치에 배치합니다 */
    bottom: 20px;    /* 하단에서 20px 떨어진 위치에 배치합니다 */
    width: 60px;     /* 버튼의 너비 */
    height: 60px;    /* 버튼의 높이 */
    background-color: #2d7dec; /* 배경색 설정 */
    display: flex;   /* 내부 아이템을 중앙에 배치하기 위해 flex 사용 */
    justify-content: center; /* 수평 중앙 정렬 */
    align-items: center; /* 수직 중앙 정렬 */
    border-radius: 50%; /* 버튼을 원형으로 만듭니다 */
    color: white;    /* 글자색은 흰색 */
    font-size: 16px; /* 글자 크기 */
    text-decoration: none; /* 텍스트 밑줄 없애기 */
    cursor: pointer; /* 마우스 오버 시 커서 변경 */

    width: 100px;
    height: 100px;
    /*background-color: #2d7dec;*/
    background-image: url("https://images.emojiterra.com/google/noto-emoji/unicode-15/animated/1f47d.gif");
    /*귀여운 외계인*/
    /*background-image: url("https://images.emojiterra.com/google/noto-emoji/unicode-15.1/color/512px/1f937.png ");*/
    /*모르는 사람 표정 */
    /*background-image: url("https://images.emojiterra.com/google/noto-emoji/unicode-15/animated/1f916.gif"); */
    /*움직이는 챗봇*/
    background-size: cover; /* 이미지 크기 조절 */
    background-position: center; /* 이미지 위치 조절 */
}

@media (max-width: 1300px){   /*0 부터 1220까지 (노트북) */
    /*1200으로 딱맞추면 중간에 살짝 스크롤이 생김*/
    .nav {
        /*max-width: 100%;*/
        /*padding: 0 10px;*/
    }
}
@media (max-width: 768px){   /*0 부터 768까지  (테블릿) */

}
@media (max-width: 480px) {
    /*0 부터 480까지  (모바일) */

    #select{
        width: 250px;
        height: 40px;
        font-size: 11px;
        margin-right: 50px;
    }
}

    .mainButton{
        margin: 0 auto;
        width: 80%;
        border-radius: 20px;
        /*margin-left: 50px;*/
    }
    .form li label{
        padding-right: 50px;
    }








/*@media (max-width: 480px) {*/
/*    !*0 부터 480까지  (모바일) *!*/
/*    height: "100px"*/
/*}*/

.modal {
    position: relative;
}

