.modalBackground {
    position: absolute; /* 기존에 fixed였던 것을 absolute로 변경 */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}


.modalContent {
    background: white;
    padding: 20px;
    border-radius: 10px;
}

