.smallbox1 {
    display: grid;
    max-width: 1200px; /* 전체 가로 크기 설정 */
    height: 300px;
    background-color: rgba(255, 254, 254, 0.71);
    position: relative;
    bottom: 0;
    left: 50%;
    margin-left: -600px;
    grid-template-areas:
    'a b ';
    grid-template-columns: 50% 50%;
    border-radius: 10px ;
    align-items: center;
    grid-gap: 0;
}
/*.searchInputWrapper{*/
.chartContainer {
    grid-area: b;
    overflow-y: auto;
    overflow-x: hidden;
    max-width: 400px;
    margin: 0 auto;
    /*padding: 20px;*/
    height: 90%;
    box-sizing: border-box;
}

/* 스크롤 바 컨테이너 */
.chartContainer::-webkit-scrollbar {
    width: 16px;
}

.chartContainer::-webkit-scrollbar-track {
    background: #f4fbff;
    border-radius: 10px;
}

.chartContainer::-webkit-scrollbar-thumb {
    background-color: #bad5d1;
    border-radius: 10px;
    border: 3px solid #eef6fb;
}
.results {
    display: block;
    background-color: #faf8ed;
    /*position: relative;*/
    margin-bottom: 10px;
    padding: 10px 17px;
    width: 100%;
    border-radius: 10px;
}

.searchInputContainer {
    grid-area: a;
    display: grid;
    padding: 10px;
    width: 400px;
    height: 250px;
    background: rgb(231, 231, 231);
    grid-template-rows: auto auto;
    gap: 6px;
    margin: 0 auto;
    grid-template-areas:
    'a a '
    'b c '
    'd d';
    justify-items: start;
    grid-template-columns: 80% 20%;
    border-radius: 10px ;

}

.h2{
    font-weight: normal;
    grid-area: a;
}
.searchInput {
    grid-area: b;
    /*width: 50px;*/
    height: 50px;
    font-size: 18px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    position: relative;
    display: block;
}
.searchArea {
    grid-area: c;
    /*width: 70px;*/
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    height: 50px;
    font-size: 18px;
    /*position: relative;*/

}
.searchButton {
    grid-area: d;
    background-color: #8acac4;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 95%;
    height: 50px;
    transition: transform 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
}


.searchButton:hover {
    background-color: #7eb8b3;
    transform: scale(1.01);
}
@media screen and (max-width: 768px) {

    .searchInputContainer, .chartContainer {
        width: inherit; /* subtract 20px for padding */
    }
    .smallbox1 {
        margin: 0; /* 여백 제거 */
        max-width: 640px;
        grid-auto-flow: column; /* add this line */
        left: 0%;
    }
}
@media screen and (max-width: 430px) {
    .searchInputContainer, .chartContainer {
        width: inherit; /* subtract 20px for padding */
    }
    .smallbox1 {
        margin: 0; /* 여백 제거 */
        grid-template-columns: repeat(1, 1fr);
        grid-auto-flow: column; /* add this line */
        grid-template-areas:
        'a '
        'b';
        left: 0%;
        gap: 10px;
        align-content: space-between;
        align-items: start;
        max-width: 63%;

    }
    .searchInputContainer {
        grid-area: a;
        display: grid;
        padding: 10px;
        max-width: fit-content;
        height: 50%;
    }
    .results {
    width: fit-content;
    }
    .searchInput {
        font-size: 70%;
    }
    .searchArea {
        font-size: 70%;
    }
    .h2{
        font-size: inherit;
    }
    .searchButton{
        width: 95%;
        height: 80%;
    }
}
