.statistics{
  grid-template-rows: repeat(3, auto); /* 3행으로 배치 */
  gap: 20px;
  padding: 20px;
  max-width: 1200px; /* 전체 가로 크기 설정 */
  margin: 0 auto; /* 가운데 정렬을 위해 */
    /*height: 780px;*/
    background-color: #ffeb9f;
    /*box-sizing: border-box;*/
    display: grid;
/*    grid-template-areas:      !* !!핵심!!*!*/
/*            "aside section"*/
/*;*/
    grid-template-columns: 1fr ;
/*    !*자식width*!*/
/*    grid-template-rows: 780px;*/
/*    !*자식height*!*/
}

.box1{
    width: 100%;
    height: 320px;
    /*background-color: #dcdcdc;*/
    background: linear-gradient(rgba(252, 252, 252, 0.05), rgba(124, 124, 124, 0.93)),url("../../public/img/bg1.jpg");
    background-size: cover;
    /*background-position: center;*/
    /*position: relative;*/
}


 .box2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: auto; /* 변경: 컨텐츠에 맞춰 높이 조정 */
    margin: 0 auto;
    background-color: #f8efef;
}

.chartContainer2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto;
    gap: 10px; /* 그리드 사이의 간격 */
    max-width: 1160px; /* 최대 너비 설정 */
    width: 100%; /* 부모 요소에 맞게 너비 설정 */
    margin: 0 auto; /* 중앙 정렬 */
    padding: 20px; /* 여기에 패딩 추가 */

}

.smallbox2,.smallbox3{
    background-color: #fffefe;
    position: relative;
    margin-bottom: 10px;
    padding: 10px 17px;
    display: block;
    transition: all 0.3s ease-in-out; /* 전체 속성 변화에 대한 transition 설정 */
    height: 455px;
    border-radius: 40px;
}
.smallbox2{
    width: 585px; /* 너비 조정 */
}

.smallbox2:hover {
    transform: translateY(-5px); /* Y축으로 5px 이동 */
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; /* 그림자 변화 */
}

.smallbox3{
    width: 500px;
}

.smallbox3:hover {
    transform: translateY(-5px); /* Y축으로 5px 이동 */
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;/* 그림자 변화 */
}
/* iPad screen size (max-width: 768px) */
@media screen and (max-width: 768px) {
    .box1.box2 {
        width: fit-content; /* subtract 40px for padding */
    }
    .smallbox2, .smallbox3 {
        width: inherit; /* subtract 20px for padding */
    }
    .chartContainer2 {

        padding: 10px; /* 좁은 화면에서 패딩 감소 */
        margin: 0; /* 여백 제거 */
        grid-template-columns: repeat(1, 1fr); /* adjust grid columns to 1 column */
        max-width: 768px; /* set max-width to 430px */
        grid-auto-flow: column; /* add this line */
    }
}

@media screen and (max-width: 430px) {
    .box1.box2 {
        width:  100%;; /* subtract 40px for padding */
    }
    .smallbox2, .smallbox3 {
        width: 100%; /* subtract 20px for padding */
        grid-column: 1 / -1;
    }
    .chartContainer2 {
        grid-template-columns: repeat(1, 1fr); /* adjust grid columns to 1 column */
        max-width: 430px; /* set max-width to 430px */
        grid-auto-flow: column; /* add this line */
    }

}

