.nav_wrap {
    border-bottom: 3px solid black;
    background-color: #03111A;
}

.nav {
    max-width: 1200px;
    height: 100px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    box-sizing: border-box;
}

.logo a {
    text-decoration: none;
    color: #f3f3f3;
}

.logo span {
    font-size: 50px;
    font-weight: 800;
}

.menu_button {
    display: none;
    background: none;
    border: none;
    font-size: 30px;
}

.menu_box {
    display: flex;
    align-items: center;
}
.menu_box ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    margin-right: 45px;
}

.menu_box ul li {
    font-size: 15px;
    margin-right: 25px;
    line-height: 70px;
}

li a {
    color: #f3f3f3;
}
.login_box {
    margin-left: 20px;
    padding: 10px 30px;
    background-color: #d58282;
    border-radius: 20px;
}

.login_box a {
    color: #f8eaea;
}

.login_box a:hover {
    color: #555;
}

/* 헤더 전체 스타일에 영향을 미치는 클래스 추가 */
.nav_wrap.restAreaActive {
    background-color: white;
}

.nav_wrap.restAreaActive .logo a,
.nav_wrap.restAreaActive li a,
.nav_wrap.restAreaActive .login_box a {
    color: black; /* 검정색으로 변경 */
}

/* 활성 링크에 대한 스타일 */
.nav_wrap.restAreaActive .active {
    color: black;
}




@media (max-width: 1300px){   /*0 부터 1220까지 (노트북) */
    /*1200으로 딱맞추면 중간에 살짝 스크롤이 생김*/
    .nav {
        /*max-width: 100%;*/
        /*padding: 0 10px;*/
    }
}
@media (max-width: 768px){   /*0 부터 768까지  (테블릿) */

}
@media (max-width: 480px) {
    /*0 부터 480까지  (모바일) */
    .menu_button {
        display: block;
    }

    .menu_box {
        /*position: absolute;*/
        /*top: 100px;*/
        /*left: 0;*/
        /*right: 0;*/
        /*background-color: #86bcff;*/
        /*flex-direction: column;*/
        /*align-items: center;*/
        /*display: none;*/
    }

    .menu_box.menu_open {
        display: flex;
    }

    ul {
        flex-direction: column;
    }

    li {
        width: 100%;
        text-align: center;
    }
    /*/////*/
    .nav{
        height: 500px;
        display: block;
    }
    .logo{
        display: block;
    }

    .login_box{
        display: block;
    }
    .menu_open{
        display: none;
    }

}