:root {
    --primary-color: #4A90E2; /* 주요 색상 */
    --secondary-color: #FAFAFA; /* 보조 색상 */
    --accent-color: #4a6d7c; /* 악센트 색상 */
    --accent-color-dark: #eb9a69; /* 어두운 악센트 색상 */
    --text-color: #333; /* 기본 텍스트 색상 */
    --bg-color: #efe4e4; /* 배경 색상 */
    --font-family: 'Arial', sans-serif; /* 글꼴 */
}

body {
    background-color: var(--bg-color);
    font-family: var(--font-family);
    color: var(--text-color);
    margin: 0;
    padding: 0;
    position: relative;
}

.App-header {
    background-color: var(--primary-color);
    padding: 10px 0;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.chat-container {
    background: linear-gradient(rgba(147, 197, 255, 1), rgba(124, 124, 124, 1));
    /*background-image: url("https://cdn.builder.io/api/v1/image/assets/TEMP/0b95d0a932e9465f2287ef7167b12906ee35ec2eeb6bb640180c0b8caff5383f?");*/
    /*background-size: cover;*/
    margin: 10px;
    /*height: 47vh;*/
    width: 330px;
    overflow-y: auto;
    border: 10px solid #30313b;
    border-radius: 25px  ;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.05);
    color: var(--text-color);
    font-family: var(--font-family);
    height: calc(100% - 40px);

}

.message {
    margin: 5px 10px;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
    word-wrap: break-word; /* 긴 텍스트가 박스를 벗어나는 것을 방지 */
    animation: fadeIn 0.3s;
    font-size: 19px;
}
/*.message.user {*/
/*    !* Add this CSS to hide the message bubble by default *!*/
/*    display: none;*/
/*}*/

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.user {
    background-color: #007bff;
    color: white;
    align-self: flex-end;
    border-top-right-radius: 2px; /* 대화 풍선 모양 조절 */
}

.bot {
    background-color: #f8f8f8;
    color: black;
    align-self: flex-start;
    border-top-left-radius: 2px; /* 대화 풍선 모양 조절 */
}
.content {
    margin-bottom: 1px;
}

.input-area {
    display: flex;
    justify-content: center;
    gap: 20px; /* 버튼 사이의 간격을 20px로 설정 */
    margin-top: 20px; /* 채팅 박스와의 간격 */

}
.App-header {
    background-color: var(--primary-color);
    color: white;
    padding: 10px 0;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    display: flex;
    justify-content: space-between; /* 항목들을 양 끝으로 정렬 */
    align-items: center; /* 중앙 정렬 */
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
}

@keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: white; }
}

.typing-effect {
    font-size: calc(10px + 2vmin);
    color: white;
    border-right: 2px solid white;
    white-space: nowrap;
    overflow: hidden;
    width: 0;
    animation: typing 3s steps(40, end), blink-caret .75s step-end infinite;
}

.theme-toggle-button {
    cursor: pointer;
    padding: 10px 20px;
    background-color: #282c34;
    border: none;
    color: white;
    font-size: 16px;
    margin-top: 10px;
}

.user_input button {
    background-color: var(--accent-color);
    color: white;
    border: none;
    margin: 2px;
    padding: 10px 20px;
    /*border: none;*/
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.user_input button:hover {
    background-color: var(--accent-color-dark);
    transform: scale(1.05); /* 호버 시 버튼 확대 */
}

.voice_button {
    background-color: #c9da94; /* 녹색 배경 */
    color: white; /* 흰색 텍스트 */
    border: none; /* 테두리 없애기 */
    padding: 10px 20px; /* 패딩 조정 */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    /*margin: 5px 10px;*/
    transition-duration: 0.4s; /* 부드러운 효과를 위한 전환 기간 */
    cursor: pointer;
}

.voice-button:hover {
    background-color: white;
    color: black;
}


.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 280px;
    background-color: #567477;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -470px;
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 17px;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.chat_app {
    width: 400px;
    position: fixed;
    /*bottom: 100px;*/
    /*left: 1200px;*/
    right: 1%;
    bottom: 33%;
    height: 520px;
    margin-right: 20px;
}
.modal_content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    position: relative;

}
.close_button {
    position: absolute;
    top: 10px;
    margin-right: 25px;
    cursor: pointer;
    font-size: 24px;
    z-index: 10; /* Ensure the button is above other content */
}
@media (max-width: 480px) {
    .chat_app{
        width: 400px;
        position: absolute;
        right: 0;
        bottom: 0;
        margin-right: 10px;

    }

}
.close_button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 24px;
    z-index: 10; /* Ensure the button is above other content */
}
.test {
    /*unicode-bidi: normal !important;*/
    height: 200px;
    display: contents;
}

/*.chat_app button {*/
/*   background-color: #de8989;*/
/*}*/


.user_input{
    display: flex;
    flex-wrap: wrap;
    margin : 10px;
    padding: 10px;
    flex-direction: column;
}

textarea {
    border-radius: 6px;
    height: 31px;
    width: 80%;
}

.chat_container {
    background: linear-gradient(rgba(147, 197, 255, 1), rgba(124, 124, 124, 1));
    margin: 10px;
    /*height: 47vh;*/
    width: 330px;
    overflow-y: auto;
    border: 10px solid #30313b;
    border-radius: 25px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.05);
    color: var(--text-color);
    font-family: var(--font-family);
    height: calc(100% - 40px);

}


#bot-input-area {
    display: flex;
    flex-wrap: wrap;
    /*z-index: 99;*/
    /*position: absolute;*/
    /*bottom: 0;*/
    /*right: 0;*/
    /*background: #fff;*/
}
@media (max-width: 768px) {
    .chat_app {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        margin: 0;
        border-radius: 0;
    }

    .chat_container {
        width: 100%;
        height: calc(100% - 120px); /* 입력 영역을 고려한 높이 조정 */
    }
    .close_button {
        position: absolute;
        top: 10px;
        margin-right: 25px;
        cursor: pointer;
        font-size: 24px;
        z-index: 10; /* Ensure the button is above other content */
    }
    .user_input {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        background: white;
        width: 350px;
        border-radius: 25px;
    }
}
@media (max-width: 480px) {
    .chat_app {
        width: 90%; /* 화면 양쪽에 약간의 여백을 줍니다 */
        height: 80vh; /* 전체 높이의 80%로 설정 */
        position: fixed;
        top: 15%; /* 상단에서 15% 떨어진 위치에 배치 */
        left: 50%; /* 왼쪽에서 50% 위치에 배치 */
        transform: translateX(-50%); /* 중앙 정렬을 위해 자신의 너비의 반만큼 왼쪽으로 이동 */
        margin: 0 auto; /* 좌우 마진을 자동으로 설정하여 가운데 정렬 */
        border-radius: 10px; /* 모서리를 둥글게 처리 */
    }

    .chat_container {

    }
    .chat_container {

        height: calc(60%); /* 입력 영역을 고려하여 높이 조정 */
        border: none;
    }



    .user_input {
        position: absolute; /* fixed에서 absolute로 변경 */
        bottom: 0;
        left: 0;
        width: 100%;
        background: none;
        padding: 10px;
    }
    textarea {
        border-radius: 6px;
        height: 31px;

    }
    .close_button {
        position: absolute;
        top: 10px;
        margin-top: 1px;
        cursor: pointer;
        font-size: 24px;
        z-index: 10; /* Ensure the button is above other content */
    }

}