
.boardContainer {
    max-height: 1200px;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
}

.header {
    text-align: center;
    margin-bottom: 20px;
}

.searchForm {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.searchSelect {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-right: 10px;
}

.searchInput {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-right: 10px;
    flex-grow: 1;
}

.searchButton {
    padding: 10px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

.createPostButton {
    display: block;
    width: 100px;
    margin: 20px auto 0;
    padding: 10px;
    border: none;
    background-color: #28a745;
    color: white;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

.postList {
    list-style: none;
    padding: 0;
}

.postItem {
    background-color: white;
    margin-bottom: 15px;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.postItem h3 {
    margin-top: 0;
}

.postItem p {
    margin: 5px 0;
}

.noPosts {
    text-align: center;
    font-size: 18px;
    color: #666;
}
