.loginContainer{
    background-color: #444;
    margin-top: 10px;
    border : 2px solid white;
    border-radius: 10px;
    padding : 10px;
}

.inputGroup{
    display : flex;
    justify-content: space-between;
    margin : 5px;
}

.inputLabel{
    font-size: 20px;
    margin-right: 10px;
}

.inputValue{
    outline: none;
    border-radius: 5px;
}

.loginButton{
    width: 80%;
    border-radius: 10px;
    background-color: #61dafb;
    font-weight: bold;
}

.registerButton {
    background-color: #4CAF50; /* 예: 초록색 */
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

.registerButton:hover {
    background-color: #45a049;
}