.Chart {
    position: absolute;
    /*height: 100%;*/
    margin: auto;
    transition: transform 0.3s ease-in-out;

}
/*.Chart:hover {*/
/*    transform: scale(1.2) translateZ(0px); !* 마우스 오버 시 확대 효과 *!*/
/*}*/

@media screen and (max-width: 430px) {
    .Chart {
        /*max-width: 300px;*/
        /*height: inherit;*/
        /*margin: auto;*/

        /*!* Frame *!*/

        /*!* Auto layout *!*/
        /*display: flex;*/
        /*flex-direction: row;*/
        /*align-items: flex-start;*/
        /*padding: 0px;*/
        /*gap: 32px;*/


        /*mix-blend-mode: normal;*/
        /*transform: rotate(-0.63deg);*/

        /*!* Inside auto layout *!*/
        /*flex: none;*/
        /*order: 0;*/
        /*align-self: stretch;*/
        /*flex-grow: 0;*/


    }
}
