table {
    width: 100%;
    border-collapse: collapse;
}
h1{
    text-align: center;
}

th, td {
    /*border: 1px solid #000000;*/
    padding: 8px;
    text-align: center;
    background-color: #e0eaff;
}

th {
    background-color: #f2f2f2;
    cursor: pointer; /* 정렬을 위해 커서 타입 변경 */
}
th:first-child{
    width: 50%;
}

/*.post-link {*/
.postLink {
    text-decoration: none; /* 기본 링크 스타일 무시 */
    color: #e81111;
}

.post-link:hover {
    text-decoration: underline;
}

.button-container {
    display: flex;
    justify-content: flex-end;
}

.pagingContainer {
    display: flex;
    justify-content: center;
    margin: 30px;
}

.paging-container a {
    margin: 0 5px;
}

/* 검색 조건을 가운데 정렬 */
#searchContainer {
    text-align: center;
    margin:0 auto;
    width: 900px;
    border: 1px solid black;
    display: flex;
}
#searchContainer form{
    border: none;

}

#searchContainer label,
#searchContainer select,
#searchContainer input[type="text"],
#searchContainer button {
    /*display: flex;*/
    /*margin-right: 10px;*/
}

.buttonContainer{
    width: 100px;
    margin:20px auto ;
    padding: 10px;
    border-radius: 20px;
    background-color: #97fdab;
    text-align: center;
}
