/* gas_staion.module.css */

/* 기본 스타일 */
.mapContainer {
    width: 100%;
    height: 100%;
    position: relative;
}

/* 모바일 크기 조정 */
@media (max-width: 480px) {
    .mapContainer {
        width: 100%;
        height: 400px;  /* 예시: 높이를 300px로 설정 */
    }
    .section{
        height: 400px;
    }
}
