#mainJ2 {
    background-color: #FEF7F0;
    display: grid;
    height: 100%;
    grid-template-rows: 45% 55%; /* Two rows of equal height */
    margin-left: 140px; /* Adds left margin to the grid container */
    border: 1px solid black;
}
.mapSpace {
    background-color: blue;
}

.tourList {
    background-color: #4CAF50;
    overflow-y: auto;
}

.tourList::-webkit-scrollbar {
    width: 10px; /* 수직 스크롤의 너비 */
}

/* 스크롤바 추적기(스크롤바의 스크롤 위치를 나타내는 부분) */
.tourList::-webkit-scrollbar-thumb {
    background-color: #888; /* 추적기의 배경색 */
    border-radius: 5px; /* 추적기의 모서리 둥글기 */
}

/* 스크롤바 활성화(추적기에 마우스를 가져다 놓았을 때) */
.tourList::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* 활성화된 추적기의 배경색 */
}