.Chart {
    /*height: 100%;*/
    margin: auto;

}


@media screen and (max-width: 430px) {
    .Chart {
        max-width: 300px;
        height: inherit;
        margin: auto;

        /* Frame */

        /* Auto layout */
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 0px;
        gap: 32px;


        mix-blend-mode: normal;
        transform: rotate(-0.63deg);

        /* Inside auto layout */
        flex: none;
        order: 0;
        align-self: stretch;
        flex-grow: 0;
    }
}
